/* left side  */
.img-facbook img{
    height: 150px;
    width: 150px;
    padding-left: 90px;
}
.content p{
    font-size: 25px;
    margin-top: -0.5px;
}

.left-side{
    width: 40%;
    padding-left: 200px;
}

/* left side end */

/* right side */

.input-type input{
    width: 400px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 8px;
    font-size: 20px;
}
.login-button button{
    width: 440px;
    padding: 20px;
    margin-top: 20px;
    border: none;
    background: rgb(12, 98, 226);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;

}
.forgot-pass a{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(23, 23, 216);
    text-decoration: none;
    
    
}
.create-button button{
    width: 230px;
    padding-top: 15px;
    margin-top: 20px;
    border: none;
    background: rgb(23, 168, 60);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 15px;
    cursor: pointer;
  

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 67px;

}
.right-side{
    border: 0px solid rgb(212, 208, 208);
    border-radius: 8px;
    box-shadow: 1px 1px 40px rgb(204, 203, 201);
    margin-top: 100px;
    padding: 15px;
    text-align: center;
    margin-right: 200px;

}

.hr hr{
    border: 1px solid rgb(201, 196, 196);
    margin-top: 20px;
}

/* right side end */